<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용설정 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치 정보 제공 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 2_ 카메라 관련 특징? 주기 -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- 3_ 카메라 관련 퍼미션 -->
    <!-- 4_ 카메라 퍼미션은 동적 퍼미션 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 5_ 레코드오디오 관련 퍼미션 -->
    <!-- 6_ 레코드 오디오 퍼미션은 동적 퍼미션 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mingle_app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/mingle_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActionApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.AuctionVideoCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AuctionVideoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.AuctionEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyPostListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyFavoriteListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SetUpMyPlaceListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AuctionDetailActivity"
            android:exported="false"
            android:theme="@style/InvisibleStatusBar" />
        <activity
            android:name=".activities.CommunityEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CommunityDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SetUpMyPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchItemByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectPositionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SellingEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChattingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.HomeDetailActivity"
            android:exported="false"
            android:theme="@style/InvisibleStatusBar" />
        <activity
            android:name=".activities.SNSLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" /> <!-- 카카오 로그인 Redirect URI 설정 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao765a2135074ce236d9efb6feab40215a" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8qcHzueKSBPYsZ-t5Fo7sEeUA7BlseRE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>